<!DOCTYPE html>

<!--Required meta tags-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock Prediction Web app</title>
    </head>

  <body background-color=#d42b67>
    <!--Creating the Select box Form-->
    <form>
      { %csrf_token %}
      <div
      <select name ="Stocks">

        <option value="AAPL">AAPL</option>
        <option value="GOOG">GOOG</option>
        <option value="MFST">MFST</option>
        <option value="BOA">BOA</option>
        <option value="GME">GME</option>
      </select>
      <ul href="">AAPL</ul>
      <ul href="">GOOG</ul>
      <ul href=""></ul>
        
        <placeholder>Enter Stock Symbol or Name</placeholder>
    </form>
  </body>

        
        